.logo {
  height: 100px;
  width: 200px;
}
.header {
  max-height: 200px;
  width: 100%;
}
.input-group {
  margin: 20px;
  width: 50%;
  height: 50px;
}
.cart-logo {
  height: 40px;
  width: 48px;
}
.cart-div {
  margin: 30px;
}
.cart-link {
  float: right;
}
