<div class="row header">
  <div class="col-2">
    <a [routerLink]="['/products']">
      <img class="logo" src="/assets/images/FarmFresh-Logo.png" />
    </a>
  </div>
  <div class="col-8 input-group">
    <input
      type="text"
      class="form-control"
      placeholder="Search for Product or brand"
    />
    <button class="btn btn-secondary" type="button">
      <i class="fa fa-search"></i>
    </button>
  </div>
  <div class="col-3 cart-div">
    <a class="cart-link" href="">
      <img class="cart-logo" src="/assets/images/shopping-cart.png" />
    </a>
  </div>
</div>
