<div class="row m-4 px-4">
  <div class="col-6 p-4 p-4 top-text">
    <h1>FRESH FOOD FOR</h1>
    <h1 style="padding-top: 10px">A FRESHER YOU</h1>
    <br />
    <h4 style="font-style: italic; font-size: 30px">
      Quality food, quality life
    </h4>
  </div>
  <div class="col-6">
    <img class="side-image" src="/assets/images/Side-image.png" />
  </div>
</div>
<div class="row m-4 p-5">
  <div class="col-4">
    <img class="icons" src="/assets/images/clock.png" />
    <h4 class="icon-text">Online anywhere</h4>
  </div>
  <div class="col-4">
    <img class="icons" src="/assets/images/delivery-truck.png" />
    <h4 class="icon-text">Fast Delivery</h4>
  </div>
  <div class="col-4">
    <img class="icons" src="/assets/images/support.png" />
    <h4 class="icon-text">24/7 Support</h4>
  </div>
</div>
