.side-image {
  margin-top: 80px;
  height: 350px;
  width: 100%;
}
.icons {
  width: 200px;
  height: 200px;
  margin-left: 120px;
}
.icon-text {
  font-style: italic;
  margin: 10px;
  justify-content: center;
  display: flex;
  font-size: 20px;
}
h1 {
  font-weight: 700;
  font-size: 50px;
}
.top-text {
  justify-content: center;
  //font-family: Arial, Helvetica, sans-serif;
  font-size: 120px;
  margin-top: 120px;
}
