.dialog {
  width: 400px;
  height: 400px;
}
.title {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 36;
  font-weight: bolder;
}
.sub {
  margin-left: 20px;
  font-size: 24;
  font-weight: bolder;
}
.table-content {
  margin: 8px;
  font-size: large;
}
.buttons-div {
  float: right;
}
.btn-style {
  font-size: small;
  height: 30px;
  width: 200px;
}
.dropdown-qty {
  margin-left: 10px;
  margin-right: 10px;
}
.qty-btn {
  height: 30px;
  font-size: small;
}
